<div class="card">
<div class="card-body">
    <app-anvbar></app-anvbar>
</div>
</div>
<div class="card">
    <div class="card-body">
        <div class="media">
            <img [src]="img" style="height:130px;" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0 font-weight-bold">  {{getUsername()}}</h5>
              <p>  name : {{name}}</p>
              <p>  sex : {{sex}} </p>
              <p>  email : {{email}}</p>
              <p>  Phone : {{phone}}</p>
              <p>  Province : {{Hnum}} {{parish}}  {{district}} {{Province}} {{zip}}</p>
            </div>
        </div>
        <!-- <figure class="figure">
            <img [src]="img"class="figure-img img-fluid z-depth-1"
              alt="..." style="width: 150px">
            <figcaption class="figure-caption">
                <h5 class="mt-0 font-weight-bold">  {{getUsername()}}</h5>
                <p>  name : {{name}}</p>
                <p>  sex : {{sex}} </p>
                <p>  email : {{email}}</p>
                <p>  Phone : {{phone}}</p>
                <p>  Province : {{Hnum}} {{parish}}  {{district}} {{Province}} {{zip}}</p>
            </figcaption>
        </figure> -->
</div></div>