<div class="card">
<div class="card-body">
    <app-anvbar></app-anvbar>
</div>
</div>
<div class="card">
    <div class="card-body">
<table class="table table-striped table-inverse" >
    <thead class="thead-inverse">
        <tr>
            <th></th>
            <th>ID.</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>sex</th>
            <th>email</th>
            <th>tellphone</th>
            <th>email</th>
            <th>hnum</th>
            <th>provict</th>
            <th>district</th>
            <th>parish</th>
            <th>zip</th>
        </tr>
    </thead>
    
</table>
</div></div>