<div class="table-responsive-md">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 text-left">
                    <!-- <h5>วันที่เดินทาง</h5>
                        <input type="date" class="form-control"> -->
                </div>
                <div class="col-md-3 text-left">
                    <h5>ต้นทาง</h5>
                    <input type="text" class="from-control" [(ngModel)] = "start">
                </div>
                <div class="col-md-3 text-left">
                    <h5>ปลายทาง</h5>
                    <input type="text" class="from-control" [(ngModel)]="finish" >
                </div>
                
                <div class="col-md-3 text-left">
                    <br>
                    <button type="button" class="btn btn-sm btn-primary"(click)="find()">ค้นหา</button>
                </div>
            </div>
        </div> 
    </div>  
    <app-flightdata [flight]="aflight" *ngIf="astatus" ></app-flightdata>
</div>

 